src/main/mule/implementations/get-covid-reports.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	
	<flow name="get:\reports:uhub-sapi-2-config">
		<ee:transform doc:name="Set correlationId And transactionId" doc:id="41af986d-9f81-438e-a49e-33be4c6ca233" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="correlationId" ><![CDATA[attributes.headers.'x-correlation-id' default ""]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start Log" doc:id="ad9590fb-8b4b-4620-9d2b-7afc0a290b17" message='transactionId: #[vars.transactionId]], correlationId: #[vars.correlationId], message: Started get reports flow, received query parameter is - #[attributes.queryParams.state]"' />
		<ee:transform doc:name="Prepare DynamicQuery" doc:id="c1682fea-c5c6-45ef-97e2-b98f0b1d029c" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="reportsDynamicQuery" ><![CDATA[if(!isEmpty(attributes.queryParams.state)) (
	"select count(*) as count, case_type, state from cvd_case_master where upper(state) = '" ++ upper(attributes.queryParams.state) ++ "' group by case_type, state"
) else (
	"select count(*) as count, case_type, state from cvd_case_master group by case_type, state"
)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Select Case Reports" doc:id="f4b59db3-bdee-47f9-a8f0-f38d15610b99" config-ref="Uhub_Database_Config">
			<db:sql ><![CDATA[#["$(vars.reportsDynamicQuery)"]]]></db:sql>
		</db:select>
		<ee:transform doc:name="Prepare Response" doc:id="59fe210c-3581-4bb2-8765-5abd859634ba" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
fun vaccinatedByState(state) = (payload filter(($.STATE == state as String) and ($.CASE_TYPE == "vaccinated")) map {
	COUNT: $.COUNT
})[0]
---
((payload groupBy($.STATE) mapObject {
	caseReports: {
		state: $$,
		reports: {
			total: ($.COUNT reduce $ + $$) - (vaccinatedByState($$).COUNT as Number default 0),
			($ orderBy($.CASE_TYPE) map {
				($.CASE_TYPE): $.COUNT
			})
		}
	}
}).*caseReports) default []
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="3c7a978f-a6be-4027-926e-4c8a3f57b9b5" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: Completed get reports flow, payload: #[payload]"' />
    
</flow>
	</mule>
