src/main/mule/implementations/get-covid-case-by-national-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	
	<flow name="get:\(nationalID):uhub-sapi-2-config">
		<ee:transform doc:name="Set correlationId And transactionId" doc:id="e3d78d14-4681-440c-9c33-69fa07885978" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="correlationId" ><![CDATA[attributes.headers.'x-correlation-id' default ""]]></ee:set-variable>
				<ee:set-variable variableName="nationalID" ><![CDATA[attributes.uriParams.nationalID]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start Log" doc:id="a019b704-6f1f-40b2-b226-2f6fe682844c" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationId], message: "Started get covid case by national id flow"' />
		<db:select doc:name="Select Case by NationalID" doc:id="a2f04424-64f0-4df0-b103-1797a7f88387" config-ref="Uhub_Database_Config" >
			<db:sql ><![CDATA[select case_id, source, case_type, first_name, last_name, phone, email, date_of_birth, national_id, national_id_type, street_address, city, state, postal, country, create_date, update_date from cvd_case_master where national_id = :national_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	national_id: vars.nationalID
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="214aeae8-c1bb-4ce7-8f54-83646105100e" >
			<when expression="#[sizeOf(payload) &gt; 0]" >
				<ee:transform doc:name="Set Success Response" doc:id="5208927e-91e7-4478-9365-ad27c5770bf2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (covidCase, indexOfCovidCase) -> {
	caseID: covidCase.case_id,
    source: covidCase.source,
    caseType: covidCase.case_type,
    firstName: covidCase.first_name,
    lastName: covidCase.last_name,
    phone: covidCase.phone,
    email: covidCase.email,
    dateOfBirth: covidCase.date_of_birth as String {format: "yyyy-MM-dd"},
    nationalID: covidCase.national_id,
    nationalIDType: covidCase.national_id_type,
    address: {
      streetAddress: covidCase.street_address,
      city: covidCase.city,
      state: covidCase.state,
      postal: covidCase.postal,
      country: covidCase.country
    },
    createDate: covidCase.create_date as String {format: "yyyy-MM-dd"},
    updateDate: covidCase.update_date as String {format: "yyyy-MM-dd"}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise CUSTOM:CASE_NOT_FOUND Error" doc:id="48709881-3846-4f7f-95de-7240ca95967d" type="CUSTOM:CASE_NOT_FOUND" description="The server has not found anything matching the Request-URI" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="End Log" doc:id="ac7fb512-cf4a-47d6-9ac0-714a08ed6494" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationId], message: Completed get covid case by national id flow, payload: #[payload]"' />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="043b4a98-66f5-40e3-92ba-d7b8d12a2d22" type="CUSTOM:CASE_NOT_FOUND" >
				<ee:transform doc:name="Set Not Found Response" doc:id="0b22cee8-ab27-4ff4-88df-46195b946048" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"code": 404,
	"message": "Resource not found",
	"description": error.description,
	"dateTime": now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" },
	"transactionId": vars.transactionId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-continue>
		</error-handler>
    
</flow>
	
	</mule>
